.main{
	width: 1285px;
	height: 1280px;
	margin: 0 auto;
	background: #eee;
}
.lside{
	width: 265px;
	height: 582px;
	background: #2a2e3d;
	color: #788096;
	float: left;
}
.top{
	width: 228px;height: 132px;
    padding-left: 32px;
    padding-top: 18px;
}
.top1{
	height: 57px;
	padding-bottom: 14px;
	font-size: 16px;
    color: #ddd;
}
.top12{
    width: 47px;height: 47px;
    padding: 4px;
    border: 1px solid #bbb;
    border-radius: 50%;
    background-color:#bbb; 
    background-clip: content-box;
}
.top1 div{
	margin-right: 80px;margin-top: 20px;
	float: right;
}
.top2 div{
	width: 85px;height: 38px;
	text-align: center;
	float: left;
}
.top21{
	border-right: 2px solid #555;
}
.lside li{
	width: 215px;
	padding: 5px;
	padding-left: 45px;
	line-height: 32px;
}
.personalReport{
    height: 190px;
    background: #383d4e;
}
.personalReport li{
	width: 182px;
	padding-left: 33px;
	line-height: 22px;
}
* ._open{
	color: #ededf0;
}
a{
	color: #788096;
}
.file li{
	width: 149px;
}
.lside li:hover{
	background: #383d4e;
}
