@import url(reset-normal.css);
.head{
	width: 100%;
	height: 44px;
	background: rgba(0,0,0,0.8);
}
.head-menu{
	max-width: 980px;
	height: 44px;
	margin:0 auto;
}
.menu-large li{
	height: 44px;
	width: 12.1%;
	float: left;
	line-height: 44px;
	text-align: center;
}
.menu-large li.menuApple{
	width:7.6%;
	text-align: left; 
}
.menu-large li.menuBag{
	width: 7.6%;
	text-align:right; ;
}
.menu-large{
	width: auto;
}
.headM{
	color: white;
	font-size: 14px;
}
.headM:hover{
	transition-duration: 0.2s;
	color: gray;
}
.menu-small{
	display: none;
}

